<% layout('./layouts/boilerplate') %>

  <form action="/campgrounds/<%=cg2Bedited._id%>?_method=put" method="post" validate>
    <div class="row">
      <div class="col-6 offset-3">
        <h1 class="text-center">Campground Edit</h1>
        <form action="/makecampground" method="post" validate>
          <div class="mt-3">
            <label for="title" class="form-label">Title:</label>
            <input class="form-control" type="text" id="title" name="cg[title]" value="<%=cg2Bedited.title%>" required>
          </div>

          <div class="mt-3">
            <label class="form-label" for="location">Location:</label>
            <input class="form-control" type="text" id="location" name="cg[location]" value="<%=cg2Bedited.location%>"
              required>
          </div>

          <div class="mt-3">
            <label for="title" class="form-label">Image URL:</label>
            <input class="form-control" type="text" id="image" name="cg[image]" value="<%=cg2Bedited.image%>" required>
          </div>

          <div class="input-group mt-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" type="text" id="price"
              name="cg[price]" value="<%=cg2Bedited.price%>" required>
            <span class="input-group-text">.00</span>
          </div>

          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" id="description" name="cg[description]"
              required><%= cg2Bedited.description %></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <button type="submit" class="btn btn-info mt-3">Submit</button>

        </form>
      </div>
    </div>
  </form>