<% layout('./layouts/boilerplate') %>


  <div class="row">
    <div class="col-6 offset-3">
      <div class="card">
        <img src="<%= campground.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <%= campground.title %>
          </h5>
          <p class="card-text">
            <%= campground.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= campground.location %>
          </li>
          <li class="list-group-item">
            $<%= campground.price %>
          </li>
        </ul>
        <div class="card-body">
          <a href="/campgrounds/<%= campground._id %>/edit" class="card-link"><button type="submit"
              class="btn btn-secondary">Edit</button></a>
          <form class="d-inline" action="/campground/<%=campground._id%>?_method=delete" method="post">
            <button type="submit" class="btn btn-danger">Delete</button></a>
          </form>
        </div>
      </div>
    </div>
  </div>