<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Farm</title>
</head>

<body>
  <h1>This is the Farm</h1>
  <p>
    <%= farmFound.name %>
  </p>
  <p>
    <%= farmFound.city %>
  </p>
  <p>
    <%= farmFound.email %>
  </p>

  <h2>Associated Products</h2>
  <ul>
    <% for(let product of farmFound.products) { %>
      <li>
        <a href="/products/<%= product._id %> ">
          <%= product.name %>
        </a>
      </li>
      <% } %>
  </ul>

  <a href="/farms/<%=farmFound._id%>/products/new">Add a Product</a>
  <a href="/farms">All Farms</a>
</body>

</html>